<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase"></h5>
            <h1 class="mb-0">Vision & Mission</h1>
        </div>
        <div class="row g-5">
            <div class="d-flex flex-column align-items-center">
                <div class="wow zoomIn" data-wow-delay="0.2s" style="min-height: 350px;">
                    <div class="h-100 d-flex align-items-center justify-content-center">
                        <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center" id="vm">
                            <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
                                <h4>Mission</h4>
                            </div>
                            <p class="mb-0">Offrir aux jeunes leaders des opportunités de développement du leadership en leur donnant la capacité de créer des changements positifs.</p>
                        </div>
                    </div>
                </div>
                <div class="wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">
                    <div class="h-100 d-flex align-items-center justify-content-center" id="visn">
                        <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center" id="vm">
                            <div class="col-12 wow zoomIn" id="yel" data-wow-delay="0.4s">
                                <h4>Vision</h4>
                            </div>
                                <p class="mb-0">Etre le principal réseau mondial de jeunes leaders .</p>
                        </div>
                    </div>
                </div>
            </div>
            <div  class="cred bg-light rounded"  id="creed" data-wow-delay="0.9s" style="min-height: 390px;">
                <div data-wow-delay="0.4s">
                    <h4>Notre Credo </h4>
                </div>
                <p class="mb-0">Nous croyons : </p>
                <p>- Que la foi en Dieu donne à la vie son véritable sens</p>
                <p>- Que la fraternité humaine transcende la souveraineté des nations </p>
                <p>- Que la liberté des individus et de l’entreprise assure mieux la justice économique </p>
                <p>- Que l’autorité doit s’appuyer sur la loi et non sur l’arbitraire </p>
                <p>- Que la personne humaine est la plus précieuse des richesses </p>
                <p>- Et que servir l’humanité constitue l’oeuvre la plus noble d’une vie.</p>            
            </div>
        </div>       
    </div>
</div>