<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-primary text-uppercase">Historique</h5>
                    <h1 class="mb-0">Découvrez l'historique de l'OLM</h1>
                </div>
                <p class="mb-4">Une organisation locale, fondée en 1984, et réactivée en 2019, organisation à but non
                    lucratif de jeunes citoyens actifs de 18
                    à 40 ans , qui sont engagés à créer un
                    impact dans la communauté de Bardo .
                    JCI Bardo " Donner de leurs Temps
                    pour le bien des autres ." Nous trouvons
                    des solutions ciblées aux problèmes
                    locaux bénéficiant à notre collectivité ,
                    notre monde et notre avenir . Adoptant
                    de nouvelles idées , la collaboration et
                    la diversité , nous avons la passion et le
                    courage de relever les défis cruciaux de
                    notre temps .</p>
                <div>
                    <img id="olm" src="./assets/img/about/jcibardo.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>