<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-primary text-uppercase"></h5>
                    <h1 class="mb-0">Qui-sommes nous ?</h1>
                </div>
                <p class="mb-4">La Jeune Chambre Internationale (JCI) est une fédération mondiale de 200 000 jeunes professionnels et entrepreneurs, âgés de 18 à 40 ans, répartis en près de 5 000 communautés dans plus de 100 pays à travers le monde.</p>
                <p> Visant à être le principal réseau mondial de jeunes citoyens actifs, la JCI se donne pour mission d’offrir les opportunités de développement nécessaires aux jeunes afin de leur donner la capacité de créer des «changements positifs». Chose que les membres de la JCI n’ont pas manqué de faire. Partout dans le monde, ils sont actifs, dynamiques, influents et occupent, généralement, des postes importants dans leurs sociétés respectives.
                    Par ailleurs, l’exécution des programmes pour le «changement positif» et l’organisation des manifestations font également partie des activités de la JCI.</p>
                <div class="row g-0 mb-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Entrepreneuriat</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Réseautage</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Développement</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Progrés</h5>
                    </div>
                    <div class="section-title position-relative pb-3 mb-5">
                        <h5 id="val" class="fw-bold text-primary text-uppercase">Nos Valeurs </h5>
                        <p> Les valeurs de JCI sont énoncées dans son credo : l’esprit et la liberté d’entreprendre, la solidarité internationale, le respect de la personne humaine, le respect de la loi, la valeur de l’engagement et la noblesse de l’action au service de la communauté.</p>
                    </div>
            </div>
            <div class="bett">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAayjn3ob4LneHXT3n8dmjAw0yLeU9S51knQ&usqp=CAU">
            </div>
        </div>
    </div>
</div>