<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
        <a href="index.html" class="navbar-brand p-0">
    
            <h1 class="m-0">
                
            <i>JCI BARDO</i><img id="logo-jci" src="./assets/img/jjjj-removebg-preview.png">
        </h1>
    
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a routerLink="/" id="home" class="nav-item nav-link active">Acceuil</a>
                <a routerLink="/about" id="about" class="nav-item nav-link ">A propos</a>
                <a routerLink="/programmes" id="programmes" class="nav-item nav-link">Programme 2023</a>
                <div class="nav-item dropdown">
                    <a href="#" id="blog" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Blog</a>
                    <div class="dropdown-menu m-0">
                        <a routerLink="/detail" id="detail" class="dropdown-item">Blog Detail</a>
                        <a routerLink="/grid" id="grid" class="dropdown-item">Blog Grid</a>
                    </div>
                </div>
                
                
            </div>
            <button type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></button>
        </div>
    </nav>
</div>