<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div id="blogdetail"></div>
    <div class="container py-5 col-lg-4">
            <div class="d-flex justify-content-center align-items-center" *ngFor="let blog of blogs">
                <div [id]="blog.id"></div>
                <div class="mb-5 marge">
                    <img class="img-fluid w-100 rounded" [src]="blog.img" alt="">
                    <div class="text-center" style="padding: 20px;">
                        <h1 class="mb-0 text-primary">{{blog.titre}}</h1>
                        <p>{{blog.description}}</p>
                    </div>
                </div>
            </div>
    </div>
</div>